body, .kno-ecr-pt, ._xdb .fl {
    color: rgb(160,160,160) !important;
}

#viewport, #appbar, body, #hdtb, #hdtbSum, #fbar {
    background: rgb(30,30,30);
    border: 0px;
}

#gb#gb a.gb_P, #gb#gb span.gb_P {
    color: rgb(200,200,200);
}

#hdtb, .sfbgg, .sfbg, .sbibod {
    background: none;
    border: none;
}

a:link, .w, #prs a:visited, #prs a:active, .q:active, .q:visited, .kl:active, .tbotu {
    color: rgb(230,230,230);
}

.mblink:visited, a:visited {
    color: rgb(153,102,51);
}

.s {
    color: rgb(160,160,160);
}

.sbib_a {
    background-color: rgb(50,50,50);
}

#lst-ib {
    color: rgb(180,180,180);
}

.jhp input[type="submit"], .jhp input[type="submit"]:hover {
    background-color: rgb(50,50,50);
    background-image: none;
    border: 1px solid #777;
    color: rgb(170,170,170);
}

.jhp input[type="submit"]:hover {
    color: rgb(210,210,210);
}

a.fl:link, .fl a, .flt, a.flt, .gl a:link, a.mblink, .mblink b {
    color: rgb(200,200,200);
}
#sblsbb {
    height:38px;
}
#search .s em {
    color:red !important;
}
#search .fl b {
    color:red !important;
}
