[submodule "common/zsh-syntax-highlighting"]
	path = common/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "common/.vim/bundle/Vundle.vim"]
	path = common/.vim/bundle/Vundle.vim
	url = git://github.com/gmarik/Vundle.vim
[submodule "Linux/.config/awesome/obvious"]
	path = Linux/.config/awesome/obvious
	url = git://github.com/hoelzro/obvious.git
