[submodule "common/.vim/bundle/Vundle.vim"]
	path = common/.vim/bundle/Vundle.vim
	url = git://github.com/gmarik/Vundle.vim
[submodule "Linux/.config/awesome/obvious"]
	path = Linux/.config/awesome/obvious
	url = git://github.com/hoelzro/obvious.git
[submodule "Linux/.config/awesome/apw"]
	path = Linux/.config/awesome/apw
	url = git://github.com/mokasin/apw.git
