Linux/.config/autokey/autokey.pid
Linux/.config/autokey/autokey.log
Linux/.config/awesome/themes
Linux/.purple
common/.vim/.netrwhist
common/.vim/undodir
common/.pentadactyl/info
common/.vimperator/info
