Xft.dpi: 96
Xft.antialias: 1
Xft.hinting: 1
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

URxvt.termName: rxvt-unicode

URxvt.font: xft:Deja Vu LGC Sans Mono-13:antialias=true:autohint=true,xft
URxvt.boldFont: xft:Deja Vu LGC Sans Mono-13:bold:antialias=true:autohint=true,xft
URxvt.italicFont: xft:Deja Vu LGC Sans Mono-13:italic:antialias=true:autohint=true,xft
URxvt.boldItalicFont: xft:Deja Vu LGC Sans Mono-13:bold:italic:antialias=true:autohint=true,xft

URxvt.depth: 32

URxvt.fading: 20

URxvt.scrollBar:       True
URxvt.visualBell:      False
URxvt.loginShell:      True
URxvt.background:      Black
URxvt.foreground:      Grey
URxvt.saveLines:       10000
URxvt.cursorColor:     Red
URxvt.scrollBar_right: True

