#viewport, #appbar, body, #hdtb, #hdtbSum, #fbar {
    background: rgb(30,30,30);
    border: 0px;
}

#hdtb, .sfbgg, .sfbg, .sbibod {
    background: none;
    border: none;
}

a:link, .w, #prs a:visited, #prs a:active, .q:active, .q:visited, .kl:active, .tbotu {
    color: grey;
}

.mblink:visited, a:visited {
    color: rgb(153,102,51);
}

.s {
    color: rgb(160,160,160);
}

cite {
    color: green;
}

#lst-ib {
    color: rgb(180,180,180);
}

.jhp input[type="submit"], .jhp input[type="submit"]:hover {
    background-color: rgb(50,50,50);
    background-image: none;
    border: 1px solid #777;
    color: rgb(170,170,170);
}

.jhp input[type="submit"]:hover {
    color: rgb(210,210,210);
}

#search .s em {
    color:red !important;
}

#search .fl b {
    color:red !important;
}
