[user]
	name = Boris Petrov
	email = boris_petrov@live.com
	signingKey = 566D2BFCC54F9E23
[github]
	user = boris-petrov
[diff]
	algorithm = patience
	compactionHeuristic = true
	tool = meld
[merge]
	ff = no
	tool = meld
[commit]
	gpgSign = true
[alias]
	co = checkout
	br = branch
	cleanup = !git branch --merged master | grep -v 'master$' | xargs git branch -d
	unstage = reset HEAD --
	undo = reset --soft HEAD^
	sync = !git stash && git pull && git push && git stash pop
[pull]
	ff = no
	rebase = true
[push]
	default = simple
	followTags = true
[log]
	follow = yes
	date = iso
[format]
	pretty = %C(blue)%H%C(red) %an %C(green)%ad%C(yellow)%d%n%B
[core]
	autocrlf = input
	whitespace = fix,space-before-tab,trailing-space,cr-at-eol
	excludesfile = ~/.gitignore_global
	pager = delta
[branch]
	autosetuprebase = always
[delta]
	features = diff-so-fancy
	hunk-header-style = line-number syntax
[transfer]
	fsckObjects = true
[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = green
	changed = red
	untracked = cyan
[fetch]
	prune = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = "red bold 52"
	newNormal = "green bold"
	newHighlight = "green bold 22"
[pager]
	log = delta
	diff = delta
	show = delta
[interactive]
	diffFilter = delta --color-only
[rebase]
	missingCommitsCheck = warn
	autoStash = true
[annex]
	autocommit = false
	resolvemerge = false
	synccontent = true
[submodule]
	recurse = true
