Xft.autohint:  0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting:   1
Xft.antialias: 1
Xft.dpi:       96
Xft.rgba:      rgb

URxvt.termName: xterm-256color

URxvt.iconFile: /home/boris/dotfiles/Linux/icons/terminal.png

URxvt.font:           xft:Inconsolata-16:xft
URxvt.boldFont:       xft:Inconsolata-16:bold:xft
URxvt.italicFont:     xft:Inconsolata-16:italic:xft
URxvt.boldItalicFont: xft:Inconsolata-16:bold:italic:xft

URxvt.fading: 20

URxvt.scrollBar:       True
URxvt.scrollBar_right: True

URxvt.visualBell: False

URxvt.background:  Black
URxvt.foreground:  Grey
URxvt.cursorColor: Red

URxvt.saveLines: 10000

URxvt.scrollTtyOutput:   false
URxvt.scrollWithBuffer:  true
URxvt.scrollTtyKeypress: true

URxvt.perl-ext-common: default,clipboard

/* URxvt.keysym.M-c: perl:clipboard:copy */
/* URxvt.keysym.M-v: perl:clipboard:paste */
