Xft.antialias: True
Xft.hinting:   True
Xft.autohint:  False
Xft.hintstyle: hintfull
Xft.rgba:      rgb
Xft.lcdfilter: lcddefault
Xft.dpi:       96

URxvt.termName: xterm-256color

URxvt.iconFile: /home/boris/dotfiles/Linux/icons/terminal.png

URxvt.font:           xft:Inconsolatazi4-16
URxvt.boldFont:       xft:Inconsolatazi4-16:bold
URxvt.italicFont:     xft:Inconsolatazi4-16:italic
URxvt.boldItalicFont: xft:Inconsolatazi4-16:bold:italic

URxvt.fading: 20

URxvt.scrollBar:       True
URxvt.scrollBar_right: True

URxvt.visualBell: False

URxvt.background:  Black
URxvt.foreground:  Grey
URxvt.cursorColor: Red

URxvt.saveLines: 10000

URxvt.scrollTtyOutput:   False
URxvt.scrollWithBuffer:  True
URxvt.scrollTtyKeypress: True

URxvt.perl-ext-common: default,clipboard

/* URxvt.keysym.M-c: perl:clipboard:copy */
/* URxvt.keysym.M-v: perl:clipboard:paste */
