Xft.autohint:  0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting:   1
Xft.antialias: 1
Xft.dpi:       96
Xft.rgba:      rgb

URxvt.termName: xterm-256color

URxvt.font:           xft:Inconsolata-20:xft
URxvt.boldFont:       xft:Inconsolata-20:bold:xft
URxvt.italicFont:     xft:Inconsolata-20:italic:xft
URxvt.boldItalicFont: xft:Inconsolata-20:bold:italic:xft

URxvt.fading: 20

URxvt.scrollBar:       True
URxvt.scrollBar_right: True

URxvt.visualBell: False
URxvt.loginShell: True

URxvt.background:  Black
URxvt.foreground:  Grey
URxvt.cursorColor: Red

URxvt.saveLines: 10000

URxvt.scrollTtyOutput:   false
URxvt.scrollWithBuffer:  true
URxvt.scrollTtyKeypress: true

URxvt.perl-ext-common: default,clipboard
